{% extends "base.html" %} 

 {% block content %} 
 <div class="container_products">
    {% for item in bags %}
  
   <div class="wrapper_product-item">
      <div class="wrapper_item-img">
      <a href="{{url_for('products.get_product_by_name',name = item.name)}}">
       <img src="{{url_for('static',filename = item.img_url )}}" alt=" image {{item.name}} bag">
      </a>
         <div class="add-cart">
               <form action="/cart/add_item" method=post>
                  <input type="hidden" value="{{item.id}}" name="id_item">
                  <input type="hidden" value="{{item.name}}" name="name_item">
                  <input type="hidden" value="{{item.img_url}}" name="urlImg_item">
                  <input type="hidden" value="{{item.price}}" name="price_item">
                  <input type="hidden" value="1" name="quantity">
                  <input type="submit" value="Buy"></input>
               <!-- <i class="ri-shopping-bag-fill btn_add-cart"> -->
  
               </form>
              
          </div> 
      </div>
      <div class="item_name">{{item.description}}</div> 
      
     <div class="item_price">${{item.price}}</div> 
  </div>
  {% endfor%}
  </div>
 {% endblock%}