{% extends "base.html" %} 

 {% block content %} 

     <div class="container_display-product">
        <div class="wrapper_img-product">
            <img src="{{ url_for('static', filename = product.img_url)}}">
        </div>
        <div class="wrapper_info-product">
            <div class="name_pr">
                <h4>{{product.name}} bag</h4>
            </div>
            <div class="description_pr">{{product.description}}</div>
            <div class="price_pr">${{product.price}}</div>
            <div class="add_pr">
                    <form action="/cart/add_item" method=post>
                  <input type="hidden" value="{{product.id}}" name="id_item">
                  <input type="hidden" value="{{product.name}}" name="name_item">
                  <input type="hidden" value="{{product.img_url}}" name="urlImg_item">
                  <input type="hidden" value="{{product.price}}" name="price_item">
                  <input type="hidden" value="1" name="quantity">
                  <input id="btn_buy" type="submit" value="Buy">
               <!-- <i class="ri-shopping-bag-fill btn_add-cart"> -->
  
               </form>
            </div>
        </div>
     </div>
 {% endblock %}