{% extends "base.html" %} 

 {% block content %} 
<main class="main">
    <section class="container_section"> 
         <h4 class="subtitle"> {{ category.category_name}}</h4>
      <div class="desc__category">
      {{category.description}}
     </div>
   </section>
    <div class="container_products">
    
    {% for item in bags %}
  
   <div class="wrapper_product-item">
      <div class="wrapper_item-img">
      <a href="{{url_for('products.get_product_by_name',name = item.name)}}">
       <img src="{{url_for('static',filename = item.img_url )}}" alt=" image {{item.name}} bag">
      </a>
      </div>
      <div class="item_name">{{item.description}}</div> 
      
     <div class="item_price">${{item.price}}</div> 
  </div>
  {% endfor%}
  </div>
</main>
 {% endblock%}