{% extends "base.html" %}

{% block content %} 
<div class="main">
    <div class="container banner__home-page" id="banner__mala">
        <div class="container_carousel">
       <div class=" carousel carousel__home-page">
        <div class="carousel-slide current_slide">    
                    <img class="slide-img" src="./static/images/collection_banner-1.jpeg" alt="">
        </div>
        <div class="carousel-slide">
                    <img class="slide-img" src="./static/images/collection_banner-2.jpg" alt="">
             
        </div>
        <div class="carousel-slide">
            <img class="slide-img" src="./static/images/collection_banner-3.jpg" alt="">
        </div>
        <div class="carousel-slide">
            <img class="slide-img" src="./static/images/collection_banner-4.jpg" alt="">  
        </div>
        </div>
        <div class="container-dots">
        
        </div>
      </div>
      <div class="wrapper_text-banner">
        <h1 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam </h1>
            <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tempora neque nihil repellat, fugit corporis </div>
      </div>
    </div>
    <section class="container_section container_section-intro ">
<img class="wrapper_img" src="{{url_for('static', filename='images/intro_bags.jpg')}}"/>
<div class="container__intro">
  <div>
    <h4 class="subtitle">About Mala</h4>
    <div> 
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Nam similique reprehenderit ea animi praesentium rerum beatae 
       blanditiis facilis laudantium saepe libero earum aliquam,
        nostrum explicabo dolor velit minus possimus maiores! Lorem ipsum
         dolor sit amet consectetur adipisicing elit. Totam accusantium 
         quidem a hic, unde, tempore recusandae velit nobis magni 
         cupiditate doloremque, vel quod culpa nisi explicabo nostrum 
         accusamus ipsum quis

    </div>
  </div>
   <div>
    <h4 class="subtitle">What makes us diffrent</h4>
      <h5> -> Passion for our work</h5>
     <div>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Nam similique reprehenderit ea animi praesentium rerum beatae 
       blanditiis facilis laudantium saepe libero earum aliquam
     </div>
    </div>
    <div> 
      <h5> -> The love for design</h5>
     <div>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Nam similique reprehenderit ea animi praesentium rerum beatae 
       blanditiis facilis laudantium saepe libero earum aliquam
     </div>
     </div>
    <div> 
      <h5> -> Our team</h5>
     <div>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Nam similique reprehenderit ea animi praesentium rerum beatae 
       blanditiis facilis laudantium saepe libero earum aliquam
     </div>

    </div>
  </div>

</div>
</section>
  <section class="container_section section__suggestion">
      <h3 class="subtitle">Our suggestion for you!</h3>
    <div class="container_gallary" data-nr-items="6">
      <i class="ri-arrow-left-double-fill gallary_sg-btn" id="prev"></i>
    <i class="ri-arrow-right-double-line  gallary_sg-btn" id="next"></i>
      <div  class="container_suggestion" >
           {% for key,value in session['suggestion'].items()%}
           <div class="gallary_item">
            <a href="{{url_for('products.get_product_by_name',name = session['suggestion'][key]['name'])}}">
            <img src="./static/{{session['suggestion'][key]['img_url']}}"
            alt="   {{session['suggestion'][key]['name']}}">
            </a>
          </div>
            {%endfor%}
      </div>

     </div>
   </section>
 </div>

{% endblock %}
{% block scripts %}
  <script src="{{url_for('static',filename='js/carousel.js')}}"></script>
  <script src="{{url_for('static',filename='js/show_nav.js')}}"></script>
  <script src="{{url_for('static',filename='js/activateScrollHeader.js')}}"></script>
  <script src="{{url_for('static',filename='js/gallarySuggestion.js')}}"></script>
{% endblock %}
   